---
layout: default
title: Steve Jenkins
description: "Home page for the blog of Steve Jenkins. Blog contains a mixture of paragliding, kitesurfing, development and my random thoughts and topics."
active : Home
heading:
    title : ""
    url : "/para"
    alt : "Paragliding at Slieu curn Isle of Man"
    img : "https://lh4.googleusercontent.com/-KfGNFf6fAK4/Un-kBFzTd6I/AAAAAAAAGtY/Jqy1qy2lmHw/w1024-h683-no/IMG_6038.JPG"

left:
    title : "Paraglider"
    url : "/para"
    alt : "Paragliding at Port Erin bay Isle of Man"
    img : "https://lh6.googleusercontent.com/-a27NGTPgHYE/T4gmJKWIxlI/AAAAAAAABw0/ZaA09BeRa4U/w1313-h875-no/IMG_8121-001.JPG"
    description : "Experienced paraglidier pilot since the age of 15"

center:
    title : "Kitesurfer"
    url : "/kite"
    alt : "Kitesurfing at Ballaugh Isle of Man"
    img : "/img/home/kitesurfing.jpg"
    description : "Kitesurfer since 2013"

right:
    title : "Web Developer"
    url : "/dev"
    alt : "Html, css, js logos"
    img : "/img/home/html-css-js.png"
    description : "Web developer specialising in Backbone/Marionette and node.js"
---

<div class="column-group" style="margin-bottom: 10px">
    <div class="large-100 medium-100 small-100">
        <h2><a href="{{page.heading.url}}">{{page.heading.title}}</a></h2>
        <img src="{{page.heading.img}}" alt="{{page.heading.alt}}" style="width: 100%; height: 500px">
    </div>
</div>
<div class="column-group gutters">
    <div class="large-33 medium-33 small-100">
        <h3>{{page.left.title}}</h3>
        <img src="{{page.left.img}}" alt="{{page.left.alt}}">
        <p>{{page.left.description}}</p>
    </div>
    <div class="large-33 medium-33 small-100">
        <h3>{{page.center.title}}</h3>
        <img src="{{page.center.img}}" alt="{{page.center.alt}}">
        <p>{{page.center.description}}</p>
    </div>
    <div class="large-33 medium-33 small-100">
        <h3>{{page.right.title}}</h3>
        <img src="{{page.right.img}}" alt="{{page.right.alt}}">
        <p style="margin-top: 28px"><br>{{page.right.description}}</p>
    </div>
</div>
