---
layout: section
title: Development
category: dev
description: "<p>Development posts tend to contain thoughts and things I've learnt the hard way which hopefully will help someone else out.</p><p>Posts tend to be related to JavaScript but may on occasion relate to something else completely.</p>"
---
