</div>
<footer>
    <div class="ink-grid hide-small">
        <nav class="ink-navigation push-left medium-100">
            <ul class="menu horizontal">
                {% assign sortedLinks = site.data.links.footer | sort : 'title' %}
                {% for link in sortedLinks %}
                <li>
                    <a href="{{ link.url }}" target="_blank" rel="{{link.rel}}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <p class="push-right small-100">Copyright &copy; Stephen Jenkins
            <script>document.write(new Date().getFullYear());</script></p>
    </div>
</footer>
{% if site.googleAnalytics %}
<!-- GA -->
<script>
    if (!bNoAnalytics) {
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-38768375-1', 'skysteve.com');
        ga('send', 'pageview');
    }

</script>
<!-- end GA -->
{% endif %}


</body>
</html>
