<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="#b81a29">
    <title>{{page.title }}</title>

    <meta name="description" content="{{page.description}}">
    <meta name="author" content="{{site.author}}">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon-precomposed" href="/img/touch-icon.57.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/touch-icon.72.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/touch-icon.114.png">
    <link rel="apple-touch-startup-image" href="/img/splash.320x460.png"
          media="screen and (min-device-width: 200px) and (max-device-width: 320px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/img/splash.768x1004.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/img/splash.1024x748.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="stylesheet" type="text/css" href="/css/ink-min.css">
    <!--[if IE 7 ]>
    <link rel="stylesheet" href="/css/ink-ie7-min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <![endif]-->

    <link href="/favicon.ico" rel="icon" type="image/x-icon" />

    <script type="text/javascript" src="/js/skysteve.js"></script>

    {%if page.code %}
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% endif %}

    <style type="text/css">
        body {
            background: #ededed;
        }
        header {
            padding: 2em 0;
            margin-bottom: 2em;
        }
        header h1 {
            font-size: 2em;
        }
        header h1 small:before  {
            content: "|";
            margin: 0 0.5em;
            font-size: 1.6em;
        }
        footer {
            background: #ccc;
            color: #555;
            position:fixed;
            left:0px;
            bottom:0px;
            width:100%;
        }
        footer p {
            padding: 0.5em 1em 0.5em 0;
            margin: 0;
        }

        img {
            border:0px solid;
            border-radius:10px;
        }

        #profilePic {
            border-radius:50%;
        }

        figcaption {
            position: relative;
            top: -8px;
            border: 0px solid;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    </style>

</head>
<body>
<script type="text/javascript">
    var bNoAnalytics = false;
    if (document.referrer && /semalt\.com/i.test(document.referrer)) {
        bNoAnalytics = true;
    }
</script>
<div class="ink-grid">
    <header>
        <h1 class="pull-left medium-100 small-100 printHide">
            {{site.name}}<small>{{page.title }}</small>
        </h1>
        <nav class="ink-navigation pull-right medium-100 small-100">
            <ul class="menu horizontal black shadowed rounded">
                {% for link in site.data.links.navbar %}
                {% if link.title == page.active or link.title == page.title %}
                <li class="active">
                    {% else %}
                <li>
                    {% endif %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
