---
layout: cv
---
<div class="hide-all showPrint pull-right" id="divAddr">
    Stephen Jenkins<br/>
    27 Marmion Court<br/>
    Worsdell Drive<br/>
    Gateshead<br/>
    NE8 2EY<br/>
    {{page.date}}

</div>
<div class="clearfix"></div>
<br/>
<div class="hide-all showPrint pull-left">
    {{page.companyAddress}}
</div>
<div class="clearfix"></div>

<p>Dear {{page.dear}},</p>

{{content}}

<div id="coverFooter">
    <p>
        {% if page.bFaithfully %}
        Yours faithfully
        {% else %}
        Yours sincerely
        {% endif %}
    <br/>
    Steve Jenkins
    </p>
    <small class="pull-right hide-all showPrint">07531 824746, steve@skysteve.com</small>
</div>
<hr/>
