{% include header.html %}

<style type="text/css">
    @page {
        size: A4;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    @media print {
        body {
            font-size: 12px;
        }
        nav {
            display: none;
        }
        .printBtn {
            display: none;
        }

        h2 {
            font-size: 20px;
        }
        h4 {
            font-size: 18px;
        }
        h5 {
            font-size: 15px;
        }
        .printHide {
            display: none;
        }
        .print-100 {
            width: 100%;
        }
        .print-70 {
            width: 68%;
        }
        .print-up {
            position: relative;
            top: -60px;
        }

        .personals {
            position: relative;
            top: -20px;
            margin-bottom: 0px;
            font-size: 15px;
            height: 50px;
        }
        .page {
            float:none;
            page-break-after: avoid;
        }

        #coverPrintPage {
            position:relative;
            top: -60px;
            font-size: 13px;
            page-break-after: auto;
        }

        .inner-page {
            display: block;
            page-break-before: avoid;
            page-break-after: avoid;
        }

        #coverPrintPage hr {
            display: none;
        }

        .showPrint {
            display: block;
        }
        #divAddr {
            text-align: right;
            margin-top: 20px;
        }
        
        #mainContent {
            position: relative;
            top: -55px;
            page-break-before: avoid;
        }

        #coverFooter {
            text-align: center;
        }

        .cvFooter {
            position: relative;
            top: 12px;
            font-size: 8px;
            display: inline;
            page-break-after: avoid;
        }

        #headPersonal {
            margin-top: 20px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        #pPersonal {
            margin-top: 5px;
            padding-top: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }

    @media screen,tv,projection,handheld {
        .personals {
            display: none;
        }
    }

    .personals ul {
        list-style: none;
    }

    .cvImg {
        position: relative;
        top: 20px
    }

</style>

<script type="text/javascript">
    function fnPrint() {
        window.print();
    }
</script>
<button class="ink-button blue printBtn pull-right" onclick="fnPrint()">Printable version</button>

<div class="page large-75 medium-80 small-100 print-100" id="coverPrintPage">
    <div class="inner-page">
        <div id="coverLetterPrint">
            {{content}}
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="page">
    <div class="inner-page">
        <div class="personals pull-right">
            <ul>
                <li>Steve Jenkins</li>
                <li>Email: steve@skysteve.com</li>
                <li>DOB: 1990-02-14</li>
                <li>Nationality: British</li>
            </ul>
        </div>


        <div class="large-75 medium-80 small-100 print-100" id="mainContent">
            <p class="print-70">I'm a highly motivated, pro-active web developer specialising in large web applications. <span class="printHide">With 4 years post university experience
    in a challenging start up company in the UK.</span></p>

            {% comment %}
            <p class="print-70">I am seeking new challenges and experiences as well as the chance to fulfill my ambition to live in within America as part
                of a highly motivated startup company.</p>
            {% endcomment %}

            <p class="print-70">
                Having worked in a couple of fast passed companies for the past 4 years I've had the opportunity to learn a huge amount in a very short
                space of time and wish to apply this knowledge to new areas and challenges.
            </p>
            <br/>
            <div class="large-100 medium-100 small-100">
                <h2>Areas of expertise/Skills</h2>
                <div class="large-33 medium-33 small-100">
                    <h4>Frontend</h4>
                    <ul>
                        <li>Javascript</li>
                        <ul>
                            <li>Backbone.js</li>
                            <li>Marionette</li>
                            <li>ES2015/ES2016 (ES6/ES7)</li>
                            <li>TypeScript</li>
                            <li>Object Orientated</li>
                            <li>Jasmine/mocha/chai unit tests</li>
                            <li>Service Workers</li>
                        </ul>
                        <li>CSS(3) (inc responsive)</li>
                        <li>HTML(5)</li>
                        <li>Web components</li>
                    </ul>
                </div>

                <div class="large-33 medium-33 small-100">
                    <h4>Backend</h4>
                    <ul>
                        <li>Node.js</li>
                        <li>Java EE</li>
                        <li>Java 8</li>
                        <li>Apache/NGINX</li>
                        <li>Mongodb</li>
                        <li>PostgreSQL</li>
                        <li>Redis</li>
                        <li>Rabbit MQ</li>
                        <li>AWS</li>
                    </ul>
                </div>

                <div class="large-33 medium-33 small-100">
                    <h4>General</h4>
                    <ul>
                        <li>Git (including git flow)</li>
                        <li>Linux</li>
                        <li>Microservices</li>
                        <li>Docker</li>
                        <li>MVC architecture</li>
                        <li>Build systems (Grunt/Gulp)</li>
                        <li>Vagrant</li>
                        <li>Analytical evaluation</li>
                        <li>Problem solving</li>
                        <li>Team player</li>
                    </ul>
                </div>
            </div>

            <div class="large-100 medium-100 small-100">
                <br/>
                <h2>Experience</h2>

                <h5>SaleCycle <small>March 2016 - Present</small></h5>
                <ul>
                    <li>Helped to develop new data scraping JavaScript for clients</li>
                    <li>Helped to develop backend systems to process incoming data</li>
                    <li>Developed docker based microservices for multiple requirements</li>
                    <li>Converted core JavaScript over to TypeScript</li>
                    <li>Helped to develop and manage AWS services</li>
                    <li>Working as part of a cross continent team</li>
                    <lI>Helping to train and develop other employees</lI>
                </ul>

                <h5>Spontly <small>October 2014 - March 2016</small></h5>
                <ul>
                    <li>Architected and built an internal social media management tool to automate posts to facebook and twitter</li>
                    <li>Implemented vagrant boxes for most of the development and live environments</li>
                    <li>Implemented continuous integration build systems (including deployment)</li>
                    <li>Archeticted a web app version of existing android and ios apps using node JS and marionette</li>
                    <li>Developing and managing backend systems to generate data and process queues</li>
                    <li>Architected and developed most of a football based gambling game</li>
                    <li>Helping to mentor and manage interns</li>
                </ul>

                <h5>CANDDi <small>2012 - August 2014</small></h5>
                <ul>
                    <li>Scrum master for a team of up to 4 running daily meetings, planning meetings, retrospectives and ensuring processes were followed</li>
                    <li>Responsible for embedded tracking JavaScript which records user actions and must be cross browser compliant (including IE6)</li>
                    <li>Created most of the node.js projects responsible for collecting inbound data, pushing live updated to users and the majority of our outbound email communications</li>
                    <li>Implemented most of the current CANDDi dashboard in Backbone.js and Marionette.js along with mustache templates</li>
                    <li>Developing and maintaining large sections of the canddi.com public website using jekyll and implementing Grunt.js to build the site to enable extra features</li>
                    <li>Managing time between planned sprint work and maintenance (bug fixes) work</li>
                    <li>Responsible for designing and scoping some large technical challenges such as implementing new features as well as
                        taking part in group planning sessions when required</li>
                </ul>

                <h5>Hewlett Packard <small>(intern) 2010 - 2011</small></h5>
                <ul>
                    <li>Internship between 2nd and 3rd year at university as part of the deduplication team in the disk to disk backup storage business</li>
                    <li>Largely a supporting role within the team although I did mange to implement some bug fixes in live code during my time</li>
                    <li>Responsible for setting up and managing a suite of test servers, code quality systems, performance testing, unit tests</li>
                    <li>Participated in agile (scrum) activities within a large team including planning and stand-up meetings</li>
                    <li>Also participated in giving presentations, helping out within other teams and reviewing CVs and partaking in interviews for my replacement</li>
                </ul>

                <h5>Manx Electricity Authority <small>(Vacation work) between 2008 - 2010</small></h5>
                <ul>
                    <li>General IT support and VB scripts to aid with monitoring and debugging</li>
                </ul>

                <h2>Education</h2>
                <h5>Newcastle University <small>2008 - 2012</small></h5>
                <p>BSc (Hons) Computing Science with Industrial Placement <b>1st Class honours</b></p>

                <h5>Castle Rushen High School <small>2001 - 2008</small></h5>
                <p>A Levels: Computing, Physics, Chemistry, General Studies<br/>GCSEs: <b>2As, 8Bs, 2Cs</b></p>

                <h2>Non Academic Achievements</h2>
                <ul>
                    <li>Broke the record for the longest paragliding flight (in KM) on the Isle of Man</li>
                    <li>Participated in the April 2012 Startup weekend Newcastle business event</li>
                </ul>

                <h2>Transferable skills</h2>
                <ul>
                    <li>Working within and across large corporate networks, both as a user and a developer</li>
                    <li>Working within both small and large teams as well as within a wider organisation</li>
                    <li>Ability to adapt to new environments and systems</li>
                    <li>Ability to learn new programming languages and styles of working</li>
                    <li>Experience working within a distributed team and working remotely</li>
                </ul>

                <h2>Additional skills</h2>
                <ul>
                    <li>Full, clean diving licence (since age 16)</li>
                    <li>Paragliding pilot license and former coach (possibly the youngest in the UK)</li>
                </ul>

                <h2 id="headPersonal">Personal Interests</h2>
                <p id="pPersonal">Paragliding, Kite surfing, Cycling, Rock Climbing, Skiing, Skydiving.</p>

                <div class="printHide">
                    <br/>
                    <a href="mailto:steve@skysteve.com">steve@skysteve.com</a>
                    <br/>
                    <br/>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="large-20 medium-20 hide-small cvImg printHide pull-right">
    <img
            id="profilePic"
            src="{{site.data.links.profilepic}}">
    <p style="text-align: center">Steve Jenkins
</div>

<div class="clearfix printHide"></div>
