{% include header.html %}
<section class="column-group gutters article">
    <div class="large-100 medium-100 small-100">
        {{page.description}}
    </div>
    <hr>
    <div class="large-100 medium-100 small-100">
            <ul><!-- TODO no bullets -->
            {% for post in site.posts %}
                {% if post.category == page.category && post.title %}
                    <!-- use window.location.href = "" because then it doesn't matter where you click -->
                    <li class="column-group gutters" onclick="window.location.href = '{{post.url}}'" style="cursor: pointer;list-style-type: none;">
                        <div class="large-10 medium-30 small-50">
                            {% if post.img %}
                            <img src="{{post.img.url}}" alt="{{post.img.alt}}">
                            {% endif %}
                        </div>
                        <div class="large-80 medium-60 small-50">
                            <h5>{{post.title}} <small class="pull-right"> <time pubdate="pubdate">{{ post.date | date_to_string }}</time></small></h5>
                            <p>{{post.summary}}</p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
    </div>
</section>

{% include footer.html %}